

.site-header {
    background-color: #ffdd11 !important;
}

nav a:hover, .branding a:hover {
    color: black !important;
}

a:hover {
    color: #FFD046 !important;
}

::selection {
    background-color: #FFD046 !important;
}

.home #main h1 {
    color: #FFD046 !important;
}

#main h1 {
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 0.2em;
}
